# 依存関係
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js
package-lock.json
yarn.lock

# ビルド出力
/dist
/build
/out
/.next
/.nuxt

# 環境変数
.env
.env.local
.env.development.local
.env.test
.env.test.local
.env.production.local
.env.heroku
.env.staging.local
.env.staging.heroku
.env.production.heroku

# エディタ設定
.idea
.vscode
*.swp
*.swo
.DS_Store

# テスト関連
/coverage
.nyc_output

# キャッシュ
.cache
.parcel-cache
.eslintcache
.stylelintcache

# ログ
logs
*.log

# その他
.DS_Store
Thumbs.db
.cursor/*
.cursor/

#bolt_mockフォルダ配下全て除外
bolt_mock/
*storybook.log
.env.heroku

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker関連
docker-compose.override.yml
.vercel


#migrations
supabase/migrations/*
*/migrations/*

#playwright
test-results/*
playwright-report/*

# backup
backup/*