openapi: 3.1.0
info:
  title: MUED LMS AI Service API
  description: 音楽教育LMSのAIサービスを提供するAPI
  version: 1.0.0
  contact:
    name: glasswerks inc.
    email: support@glasswerks.co.jp

servers:
  - url: https://api.mued-lms.com/ai
    description: 本番環境
  - url: https://staging-api.mued-lms.com/ai
    description: ステージング環境
  - url: http://localhost:8000
    description: 開発環境

paths:
  /courses/generate:
    post:
      summary: コース生成
      description: トピックと条件に基づいて新しいコースを生成します
      operationId: generateCourse
      tags:
        - courses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseGenerationRequest'
      responses:
        '200':
          description: 生成されたコース情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseGenerationResponse'
        '400':
          description: 無効なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /generate/material:
    post:
      summary: 教材生成
      description: トピックと条件に基づいて新しい教材を生成します
      operationId: generateMaterial
      tags:
        - materials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialGenerationRequest'
      responses:
        '200':
          description: 生成された教材情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialGenerationResponse'
        '400':
          description: 無効なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CourseGenerationRequest:
      type: object
      required:
        - topic
      properties:
        topic:
          type: string
          description: コースのトピック
          example: 作曲の基礎
        level:
          type: string
          description: コースの難易度
          enum: [beginner, intermediate, advanced]
          default: intermediate
          example: intermediate
        goal:
          type: string
          description: コースの目標
          example: 基本的な作曲技術を身につける
    
    CourseGenerationResponse:
      type: object
      properties:
        course_id:
          type: string
          description: コースの一意識別子
          example: composition-basics-a1b2c3d4
        title:
          type: string
          description: コースのタイトル
          example: 作曲の基礎：中級レベルコース
        description:
          type: string
          description: コースの説明
          example: 作曲の基礎を学ぶ中級者向けコースです。
        level:
          type: string
          description: コースの難易度
          example: intermediate
        estimated_duration_hours:
          type: number
          description: 推定所要時間（時間）
          example: 2.5
        modules:
          type: array
          description: コースのモジュール一覧
          items:
            $ref: '#/components/schemas/CourseModule'
    
    CourseModule:
      type: object
      properties:
        title:
          type: string
          description: モジュールのタイトル
          example: 基礎と概念
        description:
          type: string
          description: モジュールの説明
          example: 作曲の基礎知識を学びます。
        order:
          type: integer
          description: モジュールの順序
          example: 1
        lessons:
          type: array
          description: レッスン一覧
          items:
            $ref: '#/components/schemas/LessonContent'
    
    LessonContent:
      type: object
      properties:
        title:
          type: string
          description: レッスンのタイトル
          example: 作曲の基本概念
        description:
          type: string
          description: レッスンの説明
          example: 作曲における基本的な概念と用語を学びます。
        content_type:
          type: string
          description: コンテンツのタイプ
          enum: [video, text, exercise]
          example: video
        duration_minutes:
          type: integer
          description: 推定所要時間（分）
          example: 15
        content_url:
          type: string
          description: コンテンツのURL
          example: https://example.com/videos/composition-basics-a1b2c3d4/intro
        content_text:
          type: string
          description: テキストコンテンツ
          example: ここにテキストコンテンツが入ります。

    MaterialGenerationRequest:
      type: object
      required:
        - topic
      properties:
        topic:
          type: string
          description: 教材のトピック
          example: ジャズピアノ入門
        level:
          type: string
          description: 教材の難易度
          enum: [beginner, intermediate, advanced]
          default: intermediate
          example: intermediate
        format:
          type: string
          description: 教材のフォーマット
          enum: [pdf, markdown, html]
          default: pdf
          example: pdf
        language:
          type: string
          description: 教材の言語
          default: ja
          example: ja
        goal:
          type: string
          description: 教材の学習目標
          example: ジャズピアノの基本テクニックを習得する
        additional_instructions:
          type: string
          description: 追加指示
          example: 初心者向けに詳しく説明してください
        references:
          type: array
          description: 参考資料のURL一覧
          items:
            type: string
          example: ["https://example.com/jazz-theory"]
    
    MaterialGenerationResponse:
      type: object
      properties:
        material_id:
          type: string
          description: 教材の一意識別子
          example: jazz-piano-intro-a1b2c3d4
        title:
          type: string
          description: 教材のタイトル
          example: ジャズピアノ入門 - 中級レベル教材
        description:
          type: string
          description: 教材の説明
          example: ジャズピアノに関する中級レベルの学習教材です。
        format:
          type: string
          description: 教材のフォーマット
          example: pdf
        download_url:
          type: string
          description: ダウンロードURL
          example: https://storage.mued-lms.com/materials/jazz-piano-intro-a1b2c3d4.pdf
        preview_url:
          type: string
          description: プレビューURL
          example: https://storage.mued-lms.com/previews/jazz-piano-intro-a1b2c3d4-preview.png
        created_at:
          type: string
          format: date-time
          description: 作成日時
          example: "2023-05-15T10:30:00Z"
        metadata:
          type: object
          description: メタデータ
          properties:
            pages:
              type: integer
              description: ページ数
              example: 12
            word_count:
              type: integer
              description: 単語数
              example: 3500
            topics:
              type: array
              description: トピック一覧
              items:
                type: string
              example: ["ジャズピアノ", "入門"]
            language:
              type: string
              description: 言語
              example: ja
        success:
          type: boolean
          description: 成功したかどうか
          example: true
        error:
          type: object
          description: エラー情報（失敗時のみ）
          nullable: true
          properties:
            code:
              type: string
              description: エラーコード
              example: AI_PROCESSING_GENERATION_FAILED
            message:
              type: string
              description: エラーメッセージ
              example: 教材の生成中にエラーが発生しました
            details:
              type: string
              description: エラーの詳細
              example: モデルが応答しませんでした
    
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          description: 成功したかどうか
          example: false
        data:
          type: object
          description: データ（成功時のみ）
          nullable: true
        error:
          type: object
          description: エラー情報
          properties:
            code:
              type: string
              description: エラーコード
              example: AUTH_VALIDATION_INVALID_CREDENTIALS
            message:
              type: string
              description: エラーメッセージ
              example: 認証情報が無効です
            details:
              type: string
              description: エラーの詳細
              example: ユーザー名またはパスワードが間違っています 