# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS
ios/
*.xcodeproj
*.xcworkspace
Pods/

# Android
android/
*.apk
*.aab

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# typescript
*.tsbuildinfo
